# PostgreSQL
POSTGRES_DB=motovoice
POSTGRES_USER=motovoice
# Create a secret with: openssl rand -hex 32
POSTGRES_PASSWORD=your_postgres_secret

# Create a secret with: openssl rand -hex 64
JWT_SECRET=your_jwt_secret

# You domain for livekit
LIVEKIT_URL=wss://livekit.your-domain.com
LIVEKIT_API_KEY=motovoice_key
# Create a secret with: openssl rand -hex 32
LIVEKIT_API_SECRET=your_livekit_secret
